.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm-cache/
.clang-cache/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
dist/
docs/development_process.json
